{%extends 'index/layout.html'%}
{%load static%}
{%block title%}
Welcome
{%endblock%}
{%block body%}
<div id="home" class="hero-area position-relative bg-half-120" style="background-image:url(static/img/pdma.jpg)">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-items-center text-center">
                                <div class="title-heading mt-4 pb-60"><img src="{%static 'img/mypic.jpg'%}" alt
                                        class="img-fluid rounded-circle">
                                    <h1 class="heading font-36 text-white mt-4">Hello, I'm Suhail Mujtabir Fuad</h1>
                                    <h6 class="designation mb-3 text-white"> <span id="TypedData"
                                        data-elements="And I'm passionate about learning!"
                                        class="element" ></span> <span style="color: springgreen;" id="typed"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
                
      

{%endblock%}